*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;        
}

#snake{
    border: 2px solid green;    
}

body{      
    background-color:#ffff;       
}

.container{    
    height: 100vh;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

.score{      
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-left: -50rem;  
}

.text-p{    
    margin-top: 1rem;
    margin-left: 0.3rem;
    font-size: 20px;
    font-weight: bold;   
}

.point{          
    font-size: 40px;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 0.3rem;    
}

.game{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.title{   
    position: absolute;    
    margin-bottom: 1.5rem;
    color: rgb(52, 165, 52);       
    color: #ffff;
    border: 2px solid #ffff;
    border-radius: 25px;
    padding: 0rem 1.3rem ;    
    margin-bottom: 17rem;
}

.buttons{
    position: absolute;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    margin-top: 20rem;
}

.play-btn{         
    border: none;
    padding: 1.0rem 3.0rem;
    font-size: 16px;
    background-color: rgb(52, 165, 52);
    cursor: pointer;
    transition: 0.80s;
    color: #ffff;
    border-radius: 25px;
    font-weight: bold;
    margin: 1rem;
}

.play-btn:hover{
    background-color: #ffff;
    color: rgb(52, 165, 52);      
    transition: 0.50s;
    padding: 1.0rem 5.0rem;
}

.ranking-btn{      
    border: none;
    padding: 1.0rem 2.2rem;
    font-size: 16px;
    background-color: #ffff;
    cursor: pointer;
    transition: 1.0s;
    color: rgb(52, 165, 52);
    border-radius: 25px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.ranking-btn:hover{
    background-color: rgb(52, 165, 52);
    color: #ffff;      
    transition: 1.0s;    
}

.gm{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;      
    text-align: center;
    height: 100%;
    width: 100%;       
}

.game-over{
    color: #1e272e;
    font-weight: bold;
    font-size: 40px;
    padding: 0.5rem 1.3rem;
    border-radius: 50px;
    background: none;
    
}

.back{
    color: #1e272e;
    font-weight: bold;
    font-size: 20px;
    padding: 0rem 1.3rem;
    background: none;
    border: 2px solid #1e272e;
    border-radius: 50px;
    transition: 0.80s;
}

.back:hover{
    background-color: #1e272e;
    color: white;
    transition: 1s;
    cursor: pointer;
}

.ypointt{
    font-weight: bold;
    padding: 0rem 0.2rem;
    font-size: 24px;
}

.ypoint{
    font-weight: bold;
    font-size: 30px;
}

.pontuation{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.ranking{   
    margin-top: 0.1%;
    height: 78.8%;    
    width: 20%;
    display: flex;    
    flex-direction: column;    
    margin-left: 55rem;
    border: 2px solid #1e272e;
    border-radius: 4px;
}

.title-ranking{
    text-align: center;
    border-bottom: 2px solid #1e272e;
}
.list-ranking{
    
    margin-left: 0rem 10rem;
}

.list{
    font-size: 18px;
    list-style: none;
    font-weight: bold;
    text-align: center; 
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.item{
   margin: 0.5rem 0.6rem;
   
}

.list li{
    font-size: 22px;
    margin: 0.3rem;
}

.list li:nth-of-type(1n+11) {
    display: none;
} 