*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;        
}

#snake{
    border: 2px solid green;
}

body{
    height: 100vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    background-color:#ffff;       
}

.text-p{
    position: absolute;
    margin-top: 1rem;
    margin-left: 0.3rem;
    font-size: 20px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-500%, -890%);
}

.point{  
    position: absolute;    
    font-size: 40px;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 0.3rem;
    top: 7.3%;
    left: 33.5%;    
}

.title{
    position: absolute;
    text-align: center;
    margin-bottom: 1.5rem;
    color: rgb(52, 165, 52);    
    top: 50%;
    left: 50%;
    transform: translate(-64%, -360%);
    color: #ffff;
    border: 2px solid #ffff;
    border-radius: 25px;
    padding: 0rem 1.3rem ;    
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.play-btn{    
    position: absolute;
    margin: 0;
    margin-bottom: -5rem;
    border: none;
    padding: 1.0rem 3.0rem;
    font-size: 16px;
    background-color: rgb(52, 165, 52);
    cursor: pointer;
    transition: 0.80s;
    color: #ffff;
    border-radius: 25px;
    font-weight: bold;
}

.play-btn:hover{
    background-color: #ffff;
    color: rgb(52, 165, 52);      
    transition: 0.50s;
    padding: 1.0rem 5.0rem;
}

.ranking-btn{
    position: absolute;
    margin: 0;
    margin-bottom: -15rem;
    border: none;
    padding: 1.0rem 2.2rem;
    font-size: 16px;
    background-color: #ffff;
    cursor: pointer;
    transition: 1.0s;
    color: rgb(52, 165, 52);
    border-radius: 25px;
    font-weight: bold;
}

.ranking-btn:hover{
    background-color: rgb(52, 165, 52);
    color: #ffff;      
    transition: 1.0s;    
}

.gm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;      
    position: absolute;
    text-align: center;
    background-color: lightgreen;    
    height: 78.5%;
    width: 37.8%;
    border: 2px solid green;

}

.game-over{
    color: #1e272e;
    font-weight: bold;
    font-size: 40px;
    padding: 0.5rem 1.3rem;
    border-radius: 50px;
    background: none;
    
}

.back{
    color: #1e272e;
    font-weight: bold;
    font-size: 20px;
    padding: 0rem 1.3rem;
    background: none;
    border: 2px solid #1e272e;
    border-radius: 50px;
    transition: 0.80s;
}

.back:hover{
    background-color: #1e272e;
    color: white;
    transition: 1s;
    cursor: pointer;
}

.ypointt{
    font-weight: bold;
    padding: 0rem 0.2rem;
    font-size: 24px;

}

.ypoint{
    font-weight: bold;
    font-size: 30px;
}

.pontuation{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}